.navbar{
    display: flex;
    color: white;
    overflow-x: scroll;
    padding: 10px 0px;

}

.navbar::-webkit-scrollbar{
    display: none;
}

.navbar{
    -ms-overflow-style: none;
    scrollbar-width: 10px;
}

.navbar > h3{
    cursor: pointer;
    margin: 10px 30px;
    font-weight: 400;
    opacity: 0.7;
    color: #FFF;
    min-width: fit-content;
    transition: transform 50ms ease-in-out;
}

.navbar > h3:hover{
    opacity: 1;
    color: rgb(22, 218, 142);
    transform: scale(1.2);
}

.active{
    opacity: 1;
    color: rgb(22, 218, 142);
    transform: scale(1.2);

}